if paginate.hasPreviousPages || paginate.hasNextPages(settings.pageCount)
  nav
    ul.pagination.justify-content-center
      li.page-item(class=`${paginate.hasPreviousPages ? '' : 'disabled'}`)
        a.page-link(href=paginate.href(true))
          span(aria-hidden="true") &laquo;
          span.sr-only Previous
      li.page-item(class=`${paginate.hasNextPages(settings.pageCount) ? '' : 'disabled'}`)
        a.page-link(href=paginate.href())
          span(aria-hidden="true") &raquo;
          span.sr-only Next
