doctype html
html
  head
    title= `${title} | Steam Market Analyser`
    
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    
    script(src='/javascripts/jquery.min.js')
    script(src='/javascripts/chart.min.js')
    script(src='/javascripts/bootstrap.min.js')
  body
    block content
