/*
 * background - #212121
 * #323232
 * primary color - #14ffec
 */

h1, h2, h3, h4, h5, h6, p, td, pre  {
  color: #fff !important;
}

td {
  border-top: none !important;
}

body {
  background-color: #323232 !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

table {
  margin: auto !important;
  width: 75% !important;
}

nav {
  margin-bottom: 1rem;
}

.dropdown-menu {
  background-color: #343a40 !important;
}

.dropdown-menu .dropdown-item {
  color: rgba(255,255,255,.5) !important;
}

.dropdown-menu .dropdown-item:hover {
  color: rgba(255,255,255,.9) !important;
  background-color: transparent !important;
}

.currency {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}

.box {
  background-color: #212121;
  border-radius: 25px;
  padding: 15px;
  margin: 15px 0px;
}

.box img {
  width: 100%;
  margin: auto;
}

.box-small {
  background-color: #212121;
  border-radius: 25px;
  width: 150px;
  padding: 12px;
  margin: 5px;
}

.box-small img {
  width: 100%;
  margin: auto;
  border: 2px solid white;
  border-radius: 25px;
  padding: 10px;
}

.box-small p {
  margin: 0px;
}

.box-chart {
  background-color: #212121;
  border-radius: 25px;
  padding: 15px;
  margin: 15px 0px;
  width: 100%;
}

.selectize-input, .selectize-dropdown, .btn-secondary, .optgroup-header, .input-group-text, .form-control {
  background-color: #343a40 !important;
  color: #fff !important;
  border-color: #323232 !important;
}

.optgroup-header {
  font-weight: bold;
}

.search {
  max-width: 330px;
  margin: auto;
}

i {
  margin-right: 5px;
}
