extends ../layout

block content
  h2.text-center= item.name
  .container
    if skins.length == 0
      .row
        h5.col.text-center No Data Available
    else
      include ./../skins/_skin-large
