.col
  .li
    .box-list
      a(href=`/skins/${skin.id}`)
        img.center-block.float-left(src=skin.iconUrl style=`border-color: #${skin.nameColor};`)
        .float-right
          h4.text-left= skin.name
